<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>sky.elise.moe</title>
        <meta name="description" content="Skyblock Player Stats">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/icons.css">
        <link rel="stylesheet" href="/profile.css">
        <script src="https://kit.fontawesome.com/b7a5478dfd.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar">
            <a href="https://sky.elise.moe/">sky.elise.moe</a>
            <input class="search" placeholder="Username" type="text">
        </div>
        <div class="container">
            <div class="profile-meta">
                <h2>USERNAME on <select><option value="PROFILE">PROFILE</option></select></h2>
                <div class="extra-meta">
                    <img src="/Fairy_Soul.png">
                    <p><sup>VALUE</sup><strong>/</strong>209</p>
                </div>
            </div>
            <div class="stats-container">
                <div class="stats-data">
                    <p><i class="fas fa-heart" style="color: var(--clr-health-strength);"></i><strong style="color: var(--clr-health-strength);">Health</strong>VALUE</p><br>
                    <p><i class="fas fa-shield-alt" style="color:var(--clr-defense);"></i><strong style="color:var(--clr-defense);">Defense</strong>VALUE</p><br>
                    <p><i class="fas fa-crosshairs" style="color: var(--clr-health-strength);"></i><strong style="color: var(--clr-health-strength);">Strength</strong>VALUE</p><br>
                    <p><i class="fas fa-star"></i><strong>Speed</strong>VALUE%</p><br>
                    <p><i class="fas fa-random" style="color: var(--clr-crit);"></i><strong style="color: var(--clr-crit);">Crit Chance</strong>VALUE%</p><br>
                    <p><i class="fas fa-bullseye" style="color: var(--clr-crit);"></i><strong style="color: var(--clr-crit);">Crit Damage</strong>VALUE%</p><br>
                    <p><i class="fas fa-bolt" style="color: var(--clr-atk-speed);"></i><strong style="color: var(--clr-atk-speed);">Attack Speed</strong>VALUE%</p><br>
                    <p><i class="fas fa-pen" style="color: var(--clr-intel);"></i><strong style="color: var(--clr-intel);">Intelligence</strong>VALUE</p><br>
                    <p><i class="fas fa-fish" style="color: var(--clr-sc-chance);"></i><strong style="color: var(--clr-sc-chance);">SC Chance</strong>VALUE%</p><br>
                    <p><i class="fas fa-magic" style="color: var(--clr-magic-find);"></i><strong style="color: var(--clr-magic-find);">Magic Find</strong>VALUE</p><br>
                    <p><i class="fas fa-spa" style="color: var(--clr-pet-luck);"></i><strong style="color: var(--clr-pet-luck);">Pet Luck</strong>VALUE</p><br>
                </div>
                <div class="stats-other">
                    <div class="stats-skills">
                        <div class="stats-skills-skill">
                            <i class="icon-minecraft icon-minecraft-spawn-egg-skeleton" style="margin-right: 6px;"></i>
                            <div class="stats-skills-skill-data">
                                <div class="stats-skills-skill-meta">
                                    <label for="taming-progress">Taming <strong>18</strong></label>
                                    <span>14%</span>
                                </div>
                                <progress id="taming-progress" value="14" max="100"></progress><br>
                                <div class="stats-skills-skill-xp">14,951<strong> / 100,000 XP</strong></div>
                            </div>
                        </div>
                        <div class="stats-skills-skill">
                            <i class="icon-minecraft icon-minecraft-golden-hoe" style="margin-right: 6px;"></i>
                            <div class="stats-skills-skill-data">
                                <div class="stats-skills-skill-meta">
                                    <label for="farming-progress">Farming <strong>20</strong></label>
                                    <span>27%</span>
                                </div>
                                <progress id="farming-progress" value="27" max="100"></progress><br>
                                <div class="stats-skills-skill-xp">83,527<strong> / 300,000 XP</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>